<%- include("../components/header") %>
      <h1 class="title">
        Author
      </h1>
      <p class="subtitle">
        <strong>Adrian Garcia Moreno</strong>
      </p>
<%- include("../components/footer") %> 
