<%- include("../components/header") %>
      <h1 class="title">
        Colaboration Needed
      </h1>
      <p class="subtitle">
        <strong>I really need people to lend me a hand.</strong>
      </p>
<%- include("../components/footer") %> 
