<%- include("../components/header") %>
  <div class="content has-text-justified">
      <h1 class="title">
        A seed called genrython
      </h1>
      <p>
        BioInformatics is a growing sector and a BioInformatician is a
        data scientist with some background in biological sciences.
        
        This website is just another of many that can be found on the 
        internet of <a href="author.html">one of those</a> called BioInformatician.
        It is born with the idea to provide the documentation of my 
        first open-source project <a>genrython</a> and all the paths that
        might open for future projects. 
      </p>
      </div>
<%- include("../components/footer") %> 
