<%- include("../components/header") %>
      <h1 class="title">
        Motivation
      </h1>
      <p>
        During my first period as a bioinformatician trainee, I have 
        found that many of the tools used in bioinformatics are 
        web-based, have an use interface or are simply private. As a
        way to learn more about computer science, being a biologist, 
        I am commited to develop small tools that I have need in a 
        certain moment with the best informatic praxis (with a bit of 
        supervision from <a href="https://github.com/angrykoala">
        @angrykoala</a>).
        
        In different terms, and notwithstanding the utopia, I am afraid
        of BioInformatics becoming a side effect of the scientific 
        recognition competition (i.e. preasure to publish) and/or the 
        chase of just economical profit.
        On the one hand many tools, databases, ..., are developed as a 
        means to a scientist to publish and seek for that stable work or
        to fulfill the annual objectives. And the problem here comes from
        the fact that these bioinformatic resources are not constantly
        mantained, sometimes with a good reason as the lack of founding,
        but in other ocassions it is because the paper has been publish.
        Soon these tools become obsolete and the usefullness that let
        a laboratory advance is gone.
        On the other hand, the fashionable personalized medicine is being 
        used by companies to earn money with diagnosis based on not strong
        enough correlations between the patient genetic information and the 
        stock of knowledge. In this way, people who is not familiar with
        this science field could misundertand the results and at some point
        use them to show off or to become a new hypochondriac or both at
        the same time, depending on the results.
        
        And that is my principal motivation to start an open-source porject
        along with a <a href="https://eidriangm.github.io/aBioInformaticianBlog/">
        blog</a> and this website, to develop an open-source bioinformatic 
        tool along with its proper documentation so that everybody is
        able to use it and contribute to it. 
        
        But above all to encourage myself to learn more about this world
        and contribute my two cents.
        
        
        
        
      </p>
<%- include("../components/footer") %> 
