</div>
<div class="column">
<%- include("../components/rightmenu") %>
</div>
</div> 
</section>  

<footer class="footer">
    <div class="container">
    <a href="https://bulma.io">
        <img src="https://bulma.io/images/made-with-bulma.png" alt="Made with Bulma" width="128" height="24">
    </a>
    </div>
</footer>

</body>
</html>

