<!DOCTYPE html>
<html>
<script type="text/javascript" src="ejs.js"></script>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>genrython</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
    <link rel="icon" href="16x16favicon.ico">
  </head>

  <body>
<nav class="navbar is-success" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://github.com/EidrianGM/Genrython">
      <img src="static/genrythonwhite.png" alt="Genrython: Trying to simplify and free BioInformatic" width="200" height="100">
    </a>
    </div>  
    <div class="navbar-burger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</nav>
  <section class="section">
    <div class="columns">
    <div class="column is-narrow">
      <%- include("../components/leftmenu") %>
    </div>
    <div class="column">
