<aside class="menu">
  <p class="menu-label">
    General
  </p>
  <ul class="menu-list">
    <li><a>Blog</a></li>
  </ul>
  <p class="menu-label">
    About
  </p>
  <ul class="menu-list">
    <li><a>Author</a></li>
    <li><a>Colaborators</a></li>
    <li><a>Motivation</a></li>
  </ul>
</aside>
