<aside class="menu">
  <p class="menu-label">
    Resources
  </p>
  <ul class="menu-list">
    <li><a href="https://eidriangm.github.io/aBioInformaticianBlog/">aBioInformatician Blog</a></li>
  </ul>
  <p class="menu-label">
     Behind the Courtain
  </p>
  <ul class="menu-list">
    <li><a href="author.html">About Author</a></li>
    <li><a href="colaborators.html">Colaborators</a></li>
    <li><a href="motivation.html">Motivation</a></li>
  </ul>
</aside>
