<aside class="menu">
  <p class="menu-label">
    Follow Me
  </p>
  <ul class="menu-list">
    <a title="twitter" href="https://twitter.com/Adri_AVBDJN1" target="_blank">
      <i class="fab fa-twitter"></i> Twitter
    </a>
    <a class="social-tooltip" title="facebook" href="https://www.facebook.com/AdrianGarciaMoreno.AVBDJN1" target="_blank">
      <i class="fab fa-facebook"></i> Facebook
    </a>
    <a class="social-tooltip" title="linkedin" href="https://www.linkedin.com/in/adrian-garcia-moreno-a8b412a8/" target="_blank">
      <i class="fab fa-linkedin"></i> LinkedIn
    </a>
    <a class="social-tooltip" title="github" href="https://github.com/EidrianGM" target="_blank">
      <i class="fab fa-github"></i> GitHub
    </a>
  </ul>
  <p class="menu-label">
    Friends Pages (soon)
  </p>
  <ul class="menu-list">
    <li><a href=""></a></li>
  </ul>
</aside>
