<aside class="menu">
  <p class="menu-label">
    Follow Me
  </p>
  <ul class="menu-list">
    <li><a href=""></a></li>
  </ul>
  <p class="menu-label">
    Friends Pages
  </p>
  <ul class="menu-list">
    <li><a href=""></a></li>
  </ul>

</aside>
